[color]
	ui = auto
[user]
	email = gaetan@fauge.re
	name = Faugère Gaëtan
[alias]
    undo = git reset --soft HEAD~

[core]
	quotepath = false
	excludesfile = ~/.gitignore

[push]
	default = matching
[credential]
	helper = cache --timeout=7200
