[color]
	ui = auto
[user]
	email = gaetan@fauge.re
	name = Faugère Gaëtan
[alias]
    undo = git reset --soft HEAD~

[core]
        quotepath = false
[push]
	default = matching
[credential]
	helper = cache --timeout=7200
