*.swp
*.bak
.config/*
!.config/terminator/config
!.config/neofetch/config
!.config/compton.conf
!.config/edznuxlastconfig.cfg
!.config/wallapaper4.jpg
!.config/mimeapps.list
!.config/Code/User/settings.json
