[Unit]
Description=Run rkhunter daily

[Timer]
OnCalendar=12:00:00
Persistent=true    # It will execute if the computer was down at the planned time.

[Install]
WantedBy=timers.target
